on*{
	box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #000;
  background-color: #e6f9ff; /*maroon*/
  font-family: 'Oxygen', sans-serif;
}

h1 { 
	font-family: 'Lora', sans-serif;
	color:#ffffff;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

h2 { 
	font-family: 'Lora', sans-serif;
	color:#000;
	/*font-size: 1.8em;*/
	font-weight: bold;
	margin-top: 20px;
	line-height: .75;
}

h3 { 
	font-family: 'Lora', sans-serif;
	font-size: 1.3em;
	font-weight: bold;
}
header .navbar{
	background-color: #d6c50b;
}
.navbar .linklist{
	clear: both;
	width: 100%;
}
.linklist .navbar-nav .nav-item{
	width: 100%;
	padding: 10px 10px;
	border-radius: 10px;
}
.linklist .navbar-nav .nav-item a{
	width: 100%;
.linklist .navbar-nav .nav-item:hover{
	background-color: #e6f9ff;
}
#main-content .row .box{
	border: 1px solid #444;
	background-color: #897897;
	text-align: justify;
	box-shadow: 0px 0px 15px #000;
	border-radius: 10px;
}
/** ============= Media queries ===================== **/

/********** Large devices only **********/
@media (min-width: 1200px) {
.navbar-brand h1 {font-size: 2em;}
h2 { font-size: 1.8em; }
h3 { font-size: 1.5em; }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) { 
.navbar-brand h1 {font-size: 1.8em;}
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) { 
.navbar-brand h1 {font-size: 1.5em;}
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }
}

/********** Extra small devices only **********/
@media (max-width: 767px) { 
.navbar-brand h1 {font-size: 1.5em;} 
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }
}
